version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: thinkhuge
      MYSQL_USER: thinkhuge
      MYSQL_PASSWORD: thinkhuge
    ports:
      - "3306:3306"
    volumes:
      - ./db:/var/lib/mysql
